<header>

    <div >
      <a href="/"> <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" ></a> 
        <form action="/" method="GET" class="buscador1">
          <input type="text" name="busqueda" placeholder="Buscar productos, marcas">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
      </div>
  
    
     
     
     <nav >
                <ul class="login">
                    <li>
                        <a href="#">ofertas</a>
                    </li>
                    <li>
                        <a href="#">tiendas oficiales</a>
                    </li>
                    <li>
                        <a href="#">vender</a>
                    </li>
                    <li>
                        <a href="#">ayuda</a>
                    </li>

                </ul>
               
               
                <ul class="login"> 
                    <li>

                        <a href="/user/registrarse">crea tu cuenta</a><i class="far fa-id-card">

                        </i>
                    <li>
                        <a href="/user/login">ingresa</a><i class="fas fa-sign-in-alt">

                        </i>
                    <li>
                        <a href="a">mis compras</a><i class="fas fa-shopping-basket">

                        </i>
                    </ul>         
            </nav>
        </div>   

<div class="burguer-menu-juanma">
<i class="fas fa-bars"></i>
</div> 
        </header>