*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
   /* header */
}
            

header{
    background-color: #eac926;
    width: 100vw;
}
.top-header{
    display: flex;
    flex-wrap: wrap;
   


}
.top-header a,form{
    width: 50%;
}

nav{
    display: none;
   

}
.burguer-menu-juanma{
    text-align: center;
}
.burguer-menu-juanma i{
    color: white;
    background-color: #121dbc;
    font-size: 20px;
    padding: 8px;
margin: 10px 0px 20px 0px;
border-radius: 5px;


}
.lupa{
    position: relative;
    left: -20px;
   border: none;
   margin: 0;
   padding: 0;
background-color: rgba(1, 1,1, 0);
 

}
.buscador1{
    display: flex;
    padding: 5px;
   
}
.buscador1 input{
    width: 100%;

}
.logo{
    padding: 10px;
}



  


                                                    /* header */

.banner-img{   width: 100vw;
    }


                        /* MAIN */
  main{
    text-align: center;
    width:90vw ;
    margin: 0 auto;
}

main section article{
    margin-bottom: 10px;
  

    box-shadow: 0px 0px 10px rgba(100, 100, 100, .4);
}
main section article img{
    margin-bottom: 10px;
}



       
   
   .main-nav-bar ul li {
       display:block;
       margin-bottom: 10px;
       text-align: center;
   }
   
   .main-nav-bar a {
       text-decoration:none;
       color: #222222;
       display: inline-block;
       padding: 5px 0 ;
       font-size: 17px;
     
       
   
       
   }
   
   
   .main-nav-bar{
       width: 100%;
   }









   article{
    text-align: center;
}




 
.info-article{
    border-top:solid 1px #a7a0a0;
    padding:15px;
    display:flex;
    position:relative;
    flex-wrap:wrap;
    width:100%;


}




   





.left-nav-bar
 .right-nav-bar {
    display: inline-block;
  width: 50%;
}

/* footer  , me toy volviendo loco pero va quedando flama XDXDXD */



footer div.info-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
} 

footer section {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

footer i {
    font-size: 2em;
    color:#1259c3;
    margin-bottom: 10px;
    transition: color 500ms;
}

footer i:hover {
    color:yellow;
}

footer h3 {
    font-size: 16px;
    font-weight: 700;
    color:#666;
    margin: 0;
}

footer p {
    font-size: 16px;
    color:#666;
    width: 75%;
    text-align: center;
    margin: 0 0 50px 0;
}

#copyw {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

footer .copyw {
    width: 90%;
    font-size: var(--main-tipo-texto);
    text-align: left;
    margin: 0 0 20px 0;
}

/* footer */


main {
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}






.icon{
    width: 50px;
    margin-bottom: 10px;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;

    
}







 main section article div  i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    
}


 .h3-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}



.buscador{
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
}



.precio{
width:30%;
    }
    
.descuento{
width:70%;
    }
    


.productos{
box-sizing: border-box;
}
  
.productos article img{
    box-sizing:content-box;
    width:70%;
}

/* formulario */
main form.forms {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
   
}

.mainclass{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #e4e1e1;
    padding-top: 50px;
    text-align: center;
    margin-top: 100px;
}

main form.forms div {
    width: 70%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left; 
    margin: 0 0 20px 0; 
    border-radius: 10%;
}

main form.forms div label {
    text-align: left;
    font-weight: 700;
    
}

main form.forms div input {
    padding: 8px 0;    
    border: none;
}

main form.forms div .Texto {
    box-shadow: 0 0 2px 2px rgba(100, 100, 100, .5);
} 


main form.forms div.form-fecha {
    width: 60%;
    align-self: flex-start;    
}

main form.forms div.form-fecha input {
    box-shadow: 0 0 2px 2px rgba(100, 100, 100, .5);
}




main form.forms div.form-fecha label {
    margin-bottom: 10px;
    font-size: 14px;
}

main form.forms div.usr {
    margin: 0;    
}

main form.forms div.usr h3, main form.forms div.intereses h3  {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: left;
}

main form.forms div.usr div.user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
              
}

main form.forms div.usr div.user div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main .forms div.usr div.user div input {
    width: 20px;
    margin: 0;
}

main .forms div.usr div.user div label {
    width: 60px;
    font-weight: 400;
    text-align: left;
}

main form.forms div.intereses div.opciones-intereses{
    display: flex;
    flex-direction: column;
    align-items: flex-start;           
}

main form.forms div.intereses div.opciones-intereses div {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

main form.forms div.intereses div.opciones-intereses div label {
    width: 60px;
    font-weight: 400;
    text-align: left;
}

main form.forms div.intereses div.opciones-intereses div input {
    width: 20px;
    margin: 0;
}

main form.forms div.form-contrasenias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

main form.forms div.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



 .boton-enviar {
    background-color:#121dbc;
    color:#a7a0a0;
    transition: background-color 500ms;
    width: 100px;
}

 .botones-form:hover {
    background-color: #0022AA;
}

.botones .boton-cancelar {
    background-color: red;
    color:#a7a0a0;
}

main form.forms div.form-log {
    width: 70%;
}

main form.forms div.form-log div {
    width: 100%;
}


/* formulario */

main section article .articulo .info-article i{
    color:#39b54a;

    display: block;
font-size: 16px;
padding: 10px 5px 0px 5px;
width: 30px;
height: 30px;
border:solid 1px green ;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top:-20px;
transition: all 1000ms;

}

main section article .articulo .info-article i:hover{
    transform: rotate(-90deg);
}

main section article .articulo .info-article .desc-prod{
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 10px 0;
    color:#666;
    font-size:16px ;
}
main section article .articulo:hover > .info-article .desc-prod{
    display: block;
    visibility: visible;
}
main section article .articulo .info-article .descuento{
    margin: 0;
    color: #39b54a;
    font-size: 16px;
    font-weight: 700;
    width: 70%;
    text-align: left;
}
main section article .articulo .info-article .precio{
    margin: 0;
    padding: 0;
    width: 30%;
    min-width: 80px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
/* css del detalle del producto */
.precio-descuento{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 20px;
}
.precio-descuento p{
font-size: 20px;
}
.precio-c-d-img{

border: solid rgb(126, 118, 118);
width: 100%;
padding: 20px;


}
.precio-c-d-img img{
    width: 100%;

}












@media (min-width: 361px) {
   
    main section article {
        width: 40%;
    }
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
    }
    main section .info-article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
       
    }
   
main section .h3-centrado{
    width: 90%;

}





}

@media (min-width: 769px) {
    main section article {
        width: 22%;
    }

 .mainDetalleproducto{
    display: flex;
 
}
.mainDetalleproducto div {
    width: 50%;
}
.top-header a,form,p{
    width: 30%;
}
.top-header {
    align-items: center;
    justify-content: center;
}
.burguer-menu-juanma{
    display: none;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.navegacion{
    display: flex;
    justify-content:space-evenly ;
    width: 45%;
    
}
.navegacion li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
}

    